<style>
div #search_casenumber_entry, #search_casenumber_submit {
	margin-top: 10px;
	vertical-align:top; 
}	
</style>
<div id="search_casenumber_entry">
  <table>
  	<tr>
  		<td width="140">Enter a Case Number</td>
  		<td>
  			<input id="caseNumber" size="6" maxlength="6" />
  		</td>
  	</tr>
  </table>
</div>
<div id="search_casenumber_submit">
	<table>
		<tr>
			<td>
				<a ui-sref="searchResult">
					<button class="btn btn-default navbar-btn">Search</button>
				</a>
			</td>
		</tr>
	</table>
</div>